@import url(https://fonts.googleapis.com/css?family=Nunito:300,700&display=swap);

@import url(https://fonts.googleapis.com/css?family=Montserrat:900&display=swap);

@charset "UTF-8";

:root {
  --primary: #5c5c5c;
  --blue: #0e3055;
  --green: #65bdc2;
  --dark: #2e2e2e;
  /*
  --secondary: #94d2bd; // Site secondary color - (Додатковий колір сайту)
  --accent: #0090c1; // Site accent color - (Наприклад: кнопки дії, заголовки, посилання)
  --inverse: #ffff3f; // Site inverse color - (Наприклад: для створення контрасту між фоном та текстом)
  */
  --bg-green: #65bdc2;
  --bg-green-hover: #7ee3e9;
  --bg-blue: #0e3055;
  --bg-blue-hover: #164c86;
  /*
  --bg-secondary: #7678ed; // BG secondary background color - (Додатковий фоновий колір сайту)
  --bg-accent: #4cc9f0; // BG accent - наприклад, може бути використаний для встановлення кольору фону для акцентних елементів, таких як кнопки або іконки.
  --bg-inverse: #2d00f7; // BG inverse - наприклад, може використовуватися для налаштування кольору фону на світлому тексті.
  */
  --text-section-header: #2e2e2e;
  /*
  --text-secondary: #080708; // Text secondary text color - (Додатковий текстовий колір сайту)
  --text-accent: #e8eddf; // Text accent - наприклад, може використовуватися для встановлення кольору тексту для акцентних елементів на сторінці, таких як заголовки або кнопки.
  --text-inverse: #e8eddf; // Text inverse - наприклад, може використовуватися для налаштування кольору тексту на темному фоні.
  */
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #151d28;
  line-height: 1;
  font-family: "Nunito";
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Nunito";
  font-size: inherit;
  line-height: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  background-color: #F9FBFF;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/

[class*=__container] {
  max-width: 73.125rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

.tabs__navigation {
  display: -ms-grid;
  display: grid;
  border: 1px solid #eee;
}

.tabs__title {
  color: #415167;
  background-color: #DADADA;
  font-family: Montserrat;
  font-size: 30px;
  font-weight: 900;
  line-height: 113.333%;
  /* 113.333% */
  padding: 3.75rem 2.5rem;
  opacity: 0.3;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.tabs__title._tab-active {
  opacity: 1;
  background-color: #fff;
}

.tabs__content {
  border: 1px solid #eee;
  border-right: 0;
}

.tabs__body {
  -ms-grid-column: 2;
  grid-column: 2;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.section-header {
  text-align: center;
  color: #415167;
}

.section-header__span {
  font-size: 20px;
  font-weight: 600;
  line-height: 120%;
  /* 120% */
}

.section-header__title {
  font-family: Montserrat;
  font-size: 30px;
  font-weight: 900;
  line-height: 113.333%;
  /* 113.333% */
}

.swiper-slide,
.swiper-slide-prev {
  -webkit-transition: all 10.5s ease 0.5s;
  transition: all 10.5s ease 0.5s;
  opacity: 0.5;
}

.swiper-slide-active,
.swiper-slide-next,
.swiper-slide-visible {
  opacity: 1;
}

.swiper-button-disabled {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  overflow: hidden;
  visibility: hidden;
  opacity: 0;
}

.slider-big .swiper-slide-prev {
  opacity: 1;
}

.prise-card {
  color: #C7A17A;
  font-size: 20px;
  font-weight: 600;
  line-height: 120%;
}

.title-card {
  color: #232C38;
  font-size: 24px;
  font-weight: 700;
  line-height: 116.667%;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  z-index: 6;
}

.header._header-scroll {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background-color: rgb(65, 81, 103);
}

.header._header-scroll .header__container {
  min-height: 4.6875rem;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 9.375rem;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header__logo {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  position: relative;
  z-index: 5;
}

.header__action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.25rem;
}

.header__card {
  position: relative;
  z-index: 5;
}

.menu__body {
  position: fixed;
  overflow-x: auto;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  top: 0;
  right: 0;
  z-index: 5;
  height: 100vh;
  width: 22%;
  min-width: 20.5rem;
  background-color: #415167;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 3.5rem;
  -webkit-transition: right 0.3s ease 0s;
  transition: right 0.3s ease 0s;
}

.menu__list {
  display: -ms-grid;
  display: grid;
  gap: 1.875rem;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  min-width: 12.5rem;
}

.menu__item {
  color: #EDF0F5;
  font-weight: 700;
  line-height: 150%;
  /* 150% */
}

.menu__link {
  color: #EDF0F5;
  font-weight: 300;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.icon-menu {
  display: block;
  position: relative;
  width: 1.125rem;
  height: 0.9375rem;
  z-index: 5;
}

.icon-menu span,
.icon-menu::before,
.icon-menu::after {
  content: "";
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  right: 0;
  position: absolute;
  width: 100%;
  height: 0.125rem;
  background-color: #fff;
}

.icon-menu::before {
  top: calc(50% - 0.0625rem);
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.icon-menu::after {
  bottom: calc(50% - 0.0625rem);
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.icon-menu span {
  width: 0;
}

.menu-open .icon-menu::before {
  top: 0;
  -webkit-transform: rotate(0);
      -ms-transform: rotate(0);
          transform: rotate(0);
}

.menu-open .icon-menu::after {
  bottom: 0;
  -webkit-transform: rotate(0);
      -ms-transform: rotate(0);
          transform: rotate(0);
}

.menu-open .icon-menu span {
  width: 100%;
  top: calc(50% - 0.09375rem);
}

.footer {
  background-color: #EDF0F5;
  text-align: center;
}

.footer__copy {
  color: #415167;
  font-size: 16px;
  font-style: italic;
  line-height: 137.5%;
}

.section-video {
  min-height: 100vh;
}

.section-video__container {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.section-video__image-ibg {
  position: absolute;
  z-index: 0;
  width: 66%;
  height: 100%;
  top: 0;
  right: 0%;
}

.section-videoh__title {
  padding-top: 7.5rem;
  max-width: 29.375rem;
  color: #415167;
  font-family: Montserrat;
  font-weight: 900;
  line-height: 129.63%;
  z-index: 4;
}

.section-videoh__title span {
  color: #F9FBFF;
  background-color: #C7A17A;
}

.base__items {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(14.375rem, 1fr));
  row-gap: 1.875rem;
}

.item-base {
  text-align: center;
}

.item-base__images img {
  max-width: 100%;
}

.item-base__title {
  color: #232C38;
  font-size: 24px;
  font-weight: 700;
  line-height: 116.667%;
  /* 116.667% */
}

.item-base__text {
  font-weight: 300;
}

.slider-page.slider-page-big .slider-page__container::before {
  right: -979.6%;
  left: auto;
}

.slider-page.slider-page-big .slider-page__body::before {
  background-color: #F9FBFF;
}

.slider-page__header {
  position: relative;
  z-index: 1;
}

.slider-page__body {
  position: relative;
  z-index: 1;
}

.slider {
  position: relative;
  overflow: visible !important;
}

.slider__slide {
  -webkit-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
}

.slider__item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.slider__arrow {
  cursor: pointer;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  z-index: 2;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.slider__arrow.--arrow-left {
  -webkit-transform: rotate(-180deg) translate(0, 51%);
      -ms-transform: rotate(-180deg) translate(0, 51%);
          transform: rotate(-180deg) translate(0, 51%);
  left: 0;
}

.slider__arrow.--arrow-right {
  right: 0;
}

.item-slider {
  -webkit-box-shadow: 0px 4px 24px 0px rgba(205, 205, 205, 0.5);
          box-shadow: 0px 4px 24px 0px rgba(205, 205, 205, 0.5);
}

.item-slider.slider-big-slider .item-slider__image-ibg {
  aspect-ratio: 360/303;
}

.item-slider__head {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40%;
          flex: 0 0 40%;
  background-color: #EDF0F5;
}

.item-slider__image-ibg {
  width: 100%;
  height: 100%;
  aspect-ratio: 1/1;
}

.item-slider__body {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.item-slider__prise {
  color: #C7A17A;
  font-size: 20px;
  font-weight: 600;
  line-height: 120%;
  /* 120% */
}

.item-slider__prise:not(:last-child) {
  margin-bottom: 0.5625rem;
}

.item-slider__title {
  color: #232C38;
  font-size: 24px;
  font-weight: 700;
  line-height: 116.667%;
  /* 116.667% */
}

.item-slider__text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.item-slider__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item-slider__button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  color: #415167;
  font-weight: 700;
  line-height: 1;
  white-space: nowrap;
}

.item-slider__button.--color {
  color: #F9FBFF;
  padding: 0.375rem 0.9375rem;
  background-color: #C7A17A;
  border-radius: 1.1875rem;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.giftset-tabs-item__body {
  background-color: #fff;
}

.giftset-tabs-item__prise:not(:last-child) {
  margin-bottom: 0.75rem;
}

.giftset-tabs-item__title:not(:last-child) {
  margin-bottom: 0.75rem;
}

.giftset-tabs-item__text:not(:last-child) {
  margin-bottom: 1.5rem;
}

.giftset-tabs-item__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.depiction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 0.3125rem;
     -moz-column-gap: 0.3125rem;
          column-gap: 0.3125rem;
  row-gap: 0.9375rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.depiction:not(:last-child) {
  margin-bottom: 2.875rem;
}

.depiction__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.25rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.depiction__span:not(:last-child) {
  margin-bottom: 0.3125rem;
}

.depiction__title {
  font-weight: 600;
}

.slider-big {
  overflow: inherit !important;
}

.swiper {
  overflow: hidden;
}

.swiper-initialized {
  -ms-touch-action: pan-y;
      touch-action: pan-y;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

@media (min-width: 33.625rem) {
  .item-slider {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .item-slider.slider-big-slider {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (min-width: 37.5rem) {
  .slider-page__container {
    position: relative;
  }

  .slider-page__container::before {
    content: "";
    position: absolute;
    width: 1000%;
    height: 100%;
    top: 0;
    right: 0;
    left: -979.4%;
    background-color: #415167;
    z-index: -1;
  }
}

@media (min-width: 40.036875rem) {
  .tabs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}

@media (min-width: 54.25rem) {
  .giftset__container {
    position: relative;
  }

  .giftset__container::before {
    content: "";
    position: absolute;
    width: 1000%;
    height: 100%;
    top: 0;
    right: 0;
    left: -920.4%;
    background-color: #EDF0F5;
    z-index: -1;
  }
}

@media (min-width: 61.99875em) {
  .menu-open .menu__body {
    right: -100%;
  }
}

@media (min-width: 62.5rem) {
  .giftset-tabs-item__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .giftset-tabs-item__content {
    min-width: 34.375rem;
  }
}

@media (min-width: 71.25rem) {
  .slider-page__body {
    padding: 0.625rem;
  }

  .slider-page__body::before {
    content: "";
    position: absolute;
    width: 200%;
    height: 120%;
    top: -1.25rem;
    left: -201%;
    background-color: #415167;
    z-index: 5;
  }
}

@media (min-width: 73.125em) {
  .tabs__title {
    font-size: 1.875rem;
  }

  .header__container {
    padding-right: 3.75rem;
  }

  .footer__container {
    padding-top: 1.1875rem;
  }

  .footer__container {
    padding-bottom: 1.1875rem;
  }

  .page__section-video {
    padding-bottom: 5rem;
  }

  .page__base {
    padding-bottom: 7.5rem;
  }

  .section-videoh__title {
    margin-bottom: 4rem;
  }

  .section-videoh__title {
    font-size: 3.375rem;
  }

  .section-videoh__title span {
    padding-left: 0.9375rem;
  }

  .section-videoh__title span {
    padding-right: 0.9375rem;
  }

  .base__header:not(:last-child) {
    margin-bottom: 5.625rem;
  }

  .base__items {
    -webkit-column-gap: 3.75rem;
       -moz-column-gap: 3.75rem;
            column-gap: 3.75rem;
  }

  .item-base__images:not(:last-child) {
    margin-bottom: 2.5rem;
  }

  .item-base__title:not(:last-child) {
    margin-bottom: 0.75rem;
  }

  .slider-page__container {
    padding-top: 5.625rem;
  }

  .slider-page__container {
    padding-bottom: 7.9375rem;
  }

  .slider-page__header:not(:last-child) {
    margin-bottom: 4.5rem;
  }

  .item-slider__body {
    padding: 2.625rem;
  }

  .item-slider__title:not(:last-child) {
    margin-bottom: 1.5rem;
  }

  .item-slider__text:not(:last-child) {
    margin-bottom: 2.5rem;
  }

  .item-slider__footer {
    gap: 1.875rem;
  }

  .giftset__container {
    padding-top: 4.25rem;
  }

  .giftset__container {
    padding-bottom: 7.9375rem;
  }

  .giftset__header:not(:last-child) {
    margin-bottom: 4.125rem;
  }

  .giftset-tabs-item__body {
    gap: 5.625rem;
  }

  .giftset-tabs-item__body {
    padding-top: 4rem;
  }

  .giftset-tabs-item__body {
    padding-bottom: 1.875rem;
  }

  .giftset-tabs-item__content {
    padding-right: 3.75rem;
  }
}

@media (min-width: 87.5em) {
  .menu__body {
    width: 30%;
  }
}

@media (max-width: 20em) {
  .tabs__title {
    font-size: 1.25rem;
  }

  .header__container {
    padding-right: 0.9375rem;
  }

  .footer__container {
    padding-top: 0.625rem;
  }

  .footer__container {
    padding-bottom: 0.625rem;
  }

  .page__section-video {
    padding-bottom: 2.5rem;
  }

  .page__base {
    padding-bottom: 2.5rem;
  }

  .section-videoh__title {
    margin-bottom: 0.625rem;
  }

  .section-videoh__title {
    font-size: 2.125rem;
  }

  .section-videoh__title span {
    padding-left: 0.3125rem;
  }

  .section-videoh__title span {
    padding-right: 0.3125rem;
  }

  .base__header:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .base__items {
    -webkit-column-gap: 1.25rem;
       -moz-column-gap: 1.25rem;
            column-gap: 1.25rem;
  }

  .item-base__images:not(:last-child) {
    margin-bottom: 0.625rem;
  }

  .item-base__title:not(:last-child) {
    margin-bottom: 0.3125rem;
  }

  .slider-page__container {
    padding-top: 2.5rem;
  }

  .slider-page__container {
    padding-bottom: 2.5rem;
  }

  .slider-page__header:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .item-slider__body {
    padding: 0.9375rem;
  }

  .item-slider__title:not(:last-child) {
    margin-bottom: 0.9375rem;
  }

  .item-slider__text:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .item-slider__footer {
    gap: 0.9375rem;
  }

  .giftset__container {
    padding-top: 1.25rem;
  }

  .giftset__container {
    padding-bottom: 2.5rem;
  }

  .giftset__header:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .giftset-tabs-item__body {
    gap: 1.875rem;
  }

  .giftset-tabs-item__body {
    padding-top: 1.25rem;
  }

  .giftset-tabs-item__body {
    padding-bottom: 0.625rem;
  }

  .giftset-tabs-item__content {
    padding-right: 1.25rem;
  }
}

@media (max-width: 73.125rem) {
  .section-video__image-ibg {
    width: 75%;
  }

  .section-video__image-ibg {
    width: 75%;
  }
}

@media (max-width: 62.5rem) {
  .giftset-tabs-item__body {
    text-align: center;
  }
}

@media (max-width: 61.99875em) {
  .menu__body {
    right: -110%;
  }

  .menu-open .menu__body {
    right: 0%;
  }

  .icon-menu::before {
    top: 0;
    -webkit-transform: rotate(0);
        -ms-transform: rotate(0);
            transform: rotate(0);
  }

  .icon-menu::after {
    bottom: 0;
    -webkit-transform: rotate(0);
        -ms-transform: rotate(0);
            transform: rotate(0);
  }

  .icon-menu span {
    width: 100%;
    top: calc(50% - 0.09375rem);
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .menu-open .icon-menu span {
    width: 0;
  }
}

@media (max-width: 40rem) {
  .tabs__navigation {
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
  }

  .giftset-tabs-item__images img {
    max-width: 100%;
  }
}

@media (max-width: 40rem) and (max-width: 20em) {
  .tabs__title {
    padding-top: 0.9375rem;
  }

  .tabs__title {
    padding-bottom: 0.9375rem;
  }

  .tabs__title {
    padding-left: 0.9375rem;
  }

  .tabs__title {
    padding-right: 0.9375rem;
  }
}

@media (max-width: 38.5rem) {
  .section-video__image-ibg {
    width: 100%;
  }
}

@media (min-width: 20em) and (max-width: 73.125em) {
@supports (font-size: clamp( 1.25rem , 1.0147058824rem  +  1.1764705882vw , 1.875rem )) {
    .tabs__title {
      font-size: clamp( 1.25rem , 1.0147058824rem  +  1.1764705882vw , 1.875rem );
    }
}

@supports not (font-size: clamp( 1.25rem , 1.0147058824rem  +  1.1764705882vw , 1.875rem )) {
    .tabs__title {
      font-size: calc(1.25rem + 0.625 * (100vw - 20rem) / 53.125);
    }
}

@supports (padding-right: clamp( 0.9375rem , -0.1213235294rem  +  5.2941176471vw , 3.75rem )) {
    .header__container {
      padding-right: clamp( 0.9375rem , -0.1213235294rem  +  5.2941176471vw , 3.75rem );
    }
}

@supports not (padding-right: clamp( 0.9375rem , -0.1213235294rem  +  5.2941176471vw , 3.75rem )) {
    .header__container {
      padding-right: calc(0.9375rem + 2.8125 * (100vw - 20rem) / 53.125);
    }
}

@supports (padding-top: clamp( 0.625rem , 0.4132352941rem  +  1.0588235294vw , 1.1875rem )) {
    .footer__container {
      padding-top: clamp( 0.625rem , 0.4132352941rem  +  1.0588235294vw , 1.1875rem );
    }
}

@supports not (padding-top: clamp( 0.625rem , 0.4132352941rem  +  1.0588235294vw , 1.1875rem )) {
    .footer__container {
      padding-top: calc(0.625rem + 0.5625 * (100vw - 20rem) / 53.125);
    }
}

@supports (padding-bottom: clamp( 0.625rem , 0.4132352941rem  +  1.0588235294vw , 1.1875rem )) {
    .footer__container {
      padding-bottom: clamp( 0.625rem , 0.4132352941rem  +  1.0588235294vw , 1.1875rem );
    }
}

@supports not (padding-bottom: clamp( 0.625rem , 0.4132352941rem  +  1.0588235294vw , 1.1875rem )) {
    .footer__container {
      padding-bottom: calc(0.625rem + 0.5625 * (100vw - 20rem) / 53.125);
    }
}

@supports (padding-bottom: clamp( 2.5rem , 1.5588235294rem  +  4.7058823529vw , 5rem )) {
    .page__section-video {
      padding-bottom: clamp( 2.5rem , 1.5588235294rem  +  4.7058823529vw , 5rem );
    }
}

@supports not (padding-bottom: clamp( 2.5rem , 1.5588235294rem  +  4.7058823529vw , 5rem )) {
    .page__section-video {
      padding-bottom: calc(2.5rem + 2.5 * (100vw - 20rem) / 53.125);
    }
}

@supports (padding-bottom: clamp( 2.5rem , 0.6176470588rem  +  9.4117647059vw , 7.5rem )) {
    .page__base {
      padding-bottom: clamp( 2.5rem , 0.6176470588rem  +  9.4117647059vw , 7.5rem );
    }
}

@supports not (padding-bottom: clamp( 2.5rem , 0.6176470588rem  +  9.4117647059vw , 7.5rem )) {
    .page__base {
      padding-bottom: calc(2.5rem + 5 * (100vw - 20rem) / 53.125);
    }
}

@supports (margin-bottom: clamp( 0.625rem , -0.6455882353rem  +  6.3529411765vw , 4rem )) {
    .section-videoh__title {
      margin-bottom: clamp( 0.625rem , -0.6455882353rem  +  6.3529411765vw , 4rem );
    }
}

@supports not (margin-bottom: clamp( 0.625rem , -0.6455882353rem  +  6.3529411765vw , 4rem )) {
    .section-videoh__title {
      margin-bottom: calc(0.625rem + 3.375 * (100vw - 20rem) / 53.125);
    }
}

@supports (font-size: clamp( 2.125rem , 1.6544117647rem  +  2.3529411765vw , 3.375rem )) {
    .section-videoh__title {
      font-size: clamp( 2.125rem , 1.6544117647rem  +  2.3529411765vw , 3.375rem );
    }
}

@supports not (font-size: clamp( 2.125rem , 1.6544117647rem  +  2.3529411765vw , 3.375rem )) {
    .section-videoh__title {
      font-size: calc(2.125rem + 1.25 * (100vw - 20rem) / 53.125);
    }
}

@supports (padding-left: clamp( 0.3125rem , 0.0772058824rem  +  1.1764705882vw , 0.9375rem )) {
    .section-videoh__title span {
      padding-left: clamp( 0.3125rem , 0.0772058824rem  +  1.1764705882vw , 0.9375rem );
    }
}

@supports not (padding-left: clamp( 0.3125rem , 0.0772058824rem  +  1.1764705882vw , 0.9375rem )) {
    .section-videoh__title span {
      padding-left: calc(0.3125rem + 0.625 * (100vw - 20rem) / 53.125);
    }
}

@supports (padding-right: clamp( 0.3125rem , 0.0772058824rem  +  1.1764705882vw , 0.9375rem )) {
    .section-videoh__title span {
      padding-right: clamp( 0.3125rem , 0.0772058824rem  +  1.1764705882vw , 0.9375rem );
    }
}

@supports not (padding-right: clamp( 0.3125rem , 0.0772058824rem  +  1.1764705882vw , 0.9375rem )) {
    .section-videoh__title span {
      padding-right: calc(0.3125rem + 0.625 * (100vw - 20rem) / 53.125);
    }
}

@supports (margin-bottom: clamp( 1.25rem , -0.3970588235rem  +  8.2352941176vw , 5.625rem )) {
    .base__header:not(:last-child) {
      margin-bottom: clamp( 1.25rem , -0.3970588235rem  +  8.2352941176vw , 5.625rem );
    }
}

@supports not (margin-bottom: clamp( 1.25rem , -0.3970588235rem  +  8.2352941176vw , 5.625rem )) {
    .base__header:not(:last-child) {
      margin-bottom: calc(1.25rem + 4.375 * (100vw - 20rem) / 53.125);
    }
}

@supports ((-moz-column-gap: clamp( 1.25rem , 0.3088235294rem  +  4.7058823529vw , 3.75rem )) or (column-gap: clamp( 1.25rem , 0.3088235294rem  +  4.7058823529vw , 3.75rem ))) {
    .base__items {
      -webkit-column-gap: clamp( 1.25rem , 0.3088235294rem  +  4.7058823529vw , 3.75rem );
         -moz-column-gap: clamp( 1.25rem , 0.3088235294rem  +  4.7058823529vw , 3.75rem );
              column-gap: clamp( 1.25rem , 0.3088235294rem  +  4.7058823529vw , 3.75rem );
    }
}

@supports not ((-moz-column-gap: clamp( 1.25rem , 0.3088235294rem  +  4.7058823529vw , 3.75rem )) or (column-gap: clamp( 1.25rem , 0.3088235294rem  +  4.7058823529vw , 3.75rem ))) {
    .base__items {
      -webkit-column-gap: calc(1.25rem + 2.5 * (100vw - 20rem) / 53.125);
         -moz-column-gap: calc(1.25rem + 2.5 * (100vw - 20rem) / 53.125);
              column-gap: calc(1.25rem + 2.5 * (100vw - 20rem) / 53.125);
    }
}

@supports (margin-bottom: clamp( 0.625rem , -0.0808823529rem  +  3.5294117647vw , 2.5rem )) {
    .item-base__images:not(:last-child) {
      margin-bottom: clamp( 0.625rem , -0.0808823529rem  +  3.5294117647vw , 2.5rem );
    }
}

@supports not (margin-bottom: clamp( 0.625rem , -0.0808823529rem  +  3.5294117647vw , 2.5rem )) {
    .item-base__images:not(:last-child) {
      margin-bottom: calc(0.625rem + 1.875 * (100vw - 20rem) / 53.125);
    }
}

@supports (margin-bottom: clamp( 0.3125rem , 0.1477941176rem  +  0.8235294118vw , 0.75rem )) {
    .item-base__title:not(:last-child) {
      margin-bottom: clamp( 0.3125rem , 0.1477941176rem  +  0.8235294118vw , 0.75rem );
    }
}

@supports not (margin-bottom: clamp( 0.3125rem , 0.1477941176rem  +  0.8235294118vw , 0.75rem )) {
    .item-base__title:not(:last-child) {
      margin-bottom: calc(0.3125rem + 0.4375 * (100vw - 20rem) / 53.125);
    }
}

@supports (padding-top: clamp( 2.5rem , 1.3235294118rem  +  5.8823529412vw , 5.625rem )) {
    .slider-page__container {
      padding-top: clamp( 2.5rem , 1.3235294118rem  +  5.8823529412vw , 5.625rem );
    }
}

@supports not (padding-top: clamp( 2.5rem , 1.3235294118rem  +  5.8823529412vw , 5.625rem )) {
    .slider-page__container {
      padding-top: calc(2.5rem + 3.125 * (100vw - 20rem) / 53.125);
    }
}

@supports (padding-bottom: clamp( 2.5rem , 0.4529411765rem  +  10.2352941176vw , 7.9375rem )) {
    .slider-page__container {
      padding-bottom: clamp( 2.5rem , 0.4529411765rem  +  10.2352941176vw , 7.9375rem );
    }
}

@supports not (padding-bottom: clamp( 2.5rem , 0.4529411765rem  +  10.2352941176vw , 7.9375rem )) {
    .slider-page__container {
      padding-bottom: calc(2.5rem + 5.4375 * (100vw - 20rem) / 53.125);
    }
}

@supports (margin-bottom: clamp( 1.25rem , 0.0264705882rem  +  6.1176470588vw , 4.5rem )) {
    .slider-page__header:not(:last-child) {
      margin-bottom: clamp( 1.25rem , 0.0264705882rem  +  6.1176470588vw , 4.5rem );
    }
}

@supports not (margin-bottom: clamp( 1.25rem , 0.0264705882rem  +  6.1176470588vw , 4.5rem )) {
    .slider-page__header:not(:last-child) {
      margin-bottom: calc(1.25rem + 3.25 * (100vw - 20rem) / 53.125);
    }
}

@supports (padding: clamp( 0.9375rem , 0.3022058824rem  +  3.1764705882vw , 2.625rem )) {
    .item-slider__body {
      padding: clamp( 0.9375rem , 0.3022058824rem  +  3.1764705882vw , 2.625rem );
    }
}

@supports not (padding: clamp( 0.9375rem , 0.3022058824rem  +  3.1764705882vw , 2.625rem )) {
    .item-slider__body {
      padding: calc(0.9375rem + 1.6875 * (100vw - 20rem) / 53.125);
    }
}

@supports (margin-bottom: clamp( 0.9375rem , 0.7257352941rem  +  1.0588235294vw , 1.5rem )) {
    .item-slider__title:not(:last-child) {
      margin-bottom: clamp( 0.9375rem , 0.7257352941rem  +  1.0588235294vw , 1.5rem );
    }
}

@supports not (margin-bottom: clamp( 0.9375rem , 0.7257352941rem  +  1.0588235294vw , 1.5rem )) {
    .item-slider__title:not(:last-child) {
      margin-bottom: calc(0.9375rem + 0.5625 * (100vw - 20rem) / 53.125);
    }
}

@supports (margin-bottom: clamp( 1.25rem , 0.7794117647rem  +  2.3529411765vw , 2.5rem )) {
    .item-slider__text:not(:last-child) {
      margin-bottom: clamp( 1.25rem , 0.7794117647rem  +  2.3529411765vw , 2.5rem );
    }
}

@supports not (margin-bottom: clamp( 1.25rem , 0.7794117647rem  +  2.3529411765vw , 2.5rem )) {
    .item-slider__text:not(:last-child) {
      margin-bottom: calc(1.25rem + 1.25 * (100vw - 20rem) / 53.125);
    }
}

@supports (gap: clamp( 0.9375rem , 0.5845588235rem  +  1.7647058824vw , 1.875rem )) {
    .item-slider__footer {
      gap: clamp( 0.9375rem , 0.5845588235rem  +  1.7647058824vw , 1.875rem );
    }
}

@supports not (gap: clamp( 0.9375rem , 0.5845588235rem  +  1.7647058824vw , 1.875rem )) {
    .item-slider__footer {
      gap: calc(0.9375rem + 0.9375 * (100vw - 20rem) / 53.125);
    }
}

@supports (padding-top: clamp( 1.25rem , 0.1205882353rem  +  5.6470588235vw , 4.25rem )) {
    .giftset__container {
      padding-top: clamp( 1.25rem , 0.1205882353rem  +  5.6470588235vw , 4.25rem );
    }
}

@supports not (padding-top: clamp( 1.25rem , 0.1205882353rem  +  5.6470588235vw , 4.25rem )) {
    .giftset__container {
      padding-top: calc(1.25rem + 3 * (100vw - 20rem) / 53.125);
    }
}

@supports (padding-bottom: clamp( 2.5rem , 0.4529411765rem  +  10.2352941176vw , 7.9375rem )) {
    .giftset__container {
      padding-bottom: clamp( 2.5rem , 0.4529411765rem  +  10.2352941176vw , 7.9375rem );
    }
}

@supports not (padding-bottom: clamp( 2.5rem , 0.4529411765rem  +  10.2352941176vw , 7.9375rem )) {
    .giftset__container {
      padding-bottom: calc(2.5rem + 5.4375 * (100vw - 20rem) / 53.125);
    }
}

@supports (margin-bottom: clamp( 1.25rem , 0.1676470588rem  +  5.4117647059vw , 4.125rem )) {
    .giftset__header:not(:last-child) {
      margin-bottom: clamp( 1.25rem , 0.1676470588rem  +  5.4117647059vw , 4.125rem );
    }
}

@supports not (margin-bottom: clamp( 1.25rem , 0.1676470588rem  +  5.4117647059vw , 4.125rem )) {
    .giftset__header:not(:last-child) {
      margin-bottom: calc(1.25rem + 2.875 * (100vw - 20rem) / 53.125);
    }
}

@supports (gap: clamp( 1.875rem , 0.4632352941rem  +  7.0588235294vw , 5.625rem )) {
    .giftset-tabs-item__body {
      gap: clamp( 1.875rem , 0.4632352941rem  +  7.0588235294vw , 5.625rem );
    }
}

@supports not (gap: clamp( 1.875rem , 0.4632352941rem  +  7.0588235294vw , 5.625rem )) {
    .giftset-tabs-item__body {
      gap: calc(1.875rem + 3.75 * (100vw - 20rem) / 53.125);
    }
}

@supports (padding-top: clamp( 1.25rem , 0.2147058824rem  +  5.1764705882vw , 4rem )) {
    .giftset-tabs-item__body {
      padding-top: clamp( 1.25rem , 0.2147058824rem  +  5.1764705882vw , 4rem );
    }
}

@supports not (padding-top: clamp( 1.25rem , 0.2147058824rem  +  5.1764705882vw , 4rem )) {
    .giftset-tabs-item__body {
      padding-top: calc(1.25rem + 2.75 * (100vw - 20rem) / 53.125);
    }
}

@supports (padding-bottom: clamp( 0.625rem , 0.1544117647rem  +  2.3529411765vw , 1.875rem )) {
    .giftset-tabs-item__body {
      padding-bottom: clamp( 0.625rem , 0.1544117647rem  +  2.3529411765vw , 1.875rem );
    }
}

@supports not (padding-bottom: clamp( 0.625rem , 0.1544117647rem  +  2.3529411765vw , 1.875rem )) {
    .giftset-tabs-item__body {
      padding-bottom: calc(0.625rem + 1.25 * (100vw - 20rem) / 53.125);
    }
}

@supports (padding-right: clamp( 1.25rem , 0.3088235294rem  +  4.7058823529vw , 3.75rem )) {
    .giftset-tabs-item__content {
      padding-right: clamp( 1.25rem , 0.3088235294rem  +  4.7058823529vw , 3.75rem );
    }
}

@supports not (padding-right: clamp( 1.25rem , 0.3088235294rem  +  4.7058823529vw , 3.75rem )) {
    .giftset-tabs-item__content {
      padding-right: calc(1.25rem + 2.5 * (100vw - 20rem) / 53.125);
    }
}
}

@media (max-width: 40rem) and (min-width: 73.125em) {
  .tabs__title {
    padding-top: 3.75rem;
  }

  .tabs__title {
    padding-bottom: 3.75rem;
  }

  .tabs__title {
    padding-left: 2.5rem;
  }

  .tabs__title {
    padding-right: 2.5rem;
  }
}

@media (max-width: 40rem) and (min-width: 20em) and (max-width: 73.125em) {
@supports (padding-top: clamp( 0.9375rem , -0.1213235294rem  +  5.2941176471vw , 3.75rem )) {
    .tabs__title {
      padding-top: clamp( 0.9375rem , -0.1213235294rem  +  5.2941176471vw , 3.75rem );
    }
}

@supports not (padding-top: clamp( 0.9375rem , -0.1213235294rem  +  5.2941176471vw , 3.75rem )) {
    .tabs__title {
      padding-top: calc(0.9375rem + 2.8125 * (100vw - 20rem) / 53.125);
    }
}

@supports (padding-bottom: clamp( 0.9375rem , -0.1213235294rem  +  5.2941176471vw , 3.75rem )) {
    .tabs__title {
      padding-bottom: clamp( 0.9375rem , -0.1213235294rem  +  5.2941176471vw , 3.75rem );
    }
}

@supports not (padding-bottom: clamp( 0.9375rem , -0.1213235294rem  +  5.2941176471vw , 3.75rem )) {
    .tabs__title {
      padding-bottom: calc(0.9375rem + 2.8125 * (100vw - 20rem) / 53.125);
    }
}

@supports (padding-left: clamp( 0.9375rem , 0.3492647059rem  +  2.9411764706vw , 2.5rem )) {
    .tabs__title {
      padding-left: clamp( 0.9375rem , 0.3492647059rem  +  2.9411764706vw , 2.5rem );
    }
}

@supports not (padding-left: clamp( 0.9375rem , 0.3492647059rem  +  2.9411764706vw , 2.5rem )) {
    .tabs__title {
      padding-left: calc(0.9375rem + 1.5625 * (100vw - 20rem) / 53.125);
    }
}

@supports (padding-right: clamp( 0.9375rem , 0.3492647059rem  +  2.9411764706vw , 2.5rem )) {
    .tabs__title {
      padding-right: clamp( 0.9375rem , 0.3492647059rem  +  2.9411764706vw , 2.5rem );
    }
}

@supports not (padding-right: clamp( 0.9375rem , 0.3492647059rem  +  2.9411764706vw , 2.5rem )) {
    .tabs__title {
      padding-right: calc(0.9375rem + 1.5625 * (100vw - 20rem) / 53.125);
    }
}
}

@media (any-hover: hover) {
  .menu__link:hover {
    font-weight: 700;
  }

  .item-slider__button:hover {
    text-decoration: underline;
  }

  .item-slider__button.--color:hover {
    text-decoration: none;
    background-color: #927659;
  }
}

@media (any-hover: none) {
  .icon-menu {
    cursor: default;
  }
}